= render "layouts/nav_bar"
= render "layouts/notices"

.wrapper
  .row
    .col-md-6
      .address-form
        %h2= t('header.billing_address')
        =form_for @address_form, url: { action: :update_billing } do |f|
          =render "layouts/address_form", f: f

    .col-md-6
      .address-form
        %h2= t('header.shipping_address')
        =form_for @address_form, url: { action: :update_shipping } do |f|
          =render "layouts/address_form", f: f
  .row
    .col-md-6
      .email-form
        %h2= t('header.email')
        =form_for @user, url: { action: :update } do |f|
          =f.email_field :email
          %button.btn.btn-default= t('button.save')

    .col-md-6
      .password-form
        %h2= t('header.password')
        =form_for @user, url: { controller: :profiles, action: :update_password } do |f|
          =f.label t('label.old_password')
          =f.password_field :current_password
          =f.label t('label.new_password')
          =f.password_field :password
          %button.btn.btn-default= t('button.save')

  .remove-acc-form
    %h2= t('header.remove')
    = button_to(t('button.cancel_acc'), registration_path(@user), 
                  class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete)