= render "layouts/nav_bar"

.wrapper
  %h3= t('header.orders')
  - if @order.order_items.count > 0
    =render('orders_in_progress')
    =render('layouts/sub_total')
      
    %a{ href: "/cart", class: "btn btn-default btn-default"}
      =t('button.go_to_cart')


  - unless @orders_processing.empty?
    .order-info
      %h4= t('header.wating_for_processing')
      =render "order_info",  orders: @orders_processing

  - unless @orders_delivery.empty?
    .order-info
      %h4= t('header.in_delivery')
      =render "order_info",  orders: @orders_delivery

  - unless @orders_delivered.empty?
    .order-info
      %h4= t('header.delivered')
      =render "order_info",  orders: @orders_delivered
