= render "layouts/nav_bar"

.wrapper
  %h3= t('header.orders')
  - if @order.order_items.count > 0
    =render('orders_in_progress')

    .sub-total="#{t('th.total')}: #{number_to_currency(@order.item_total)}"
    %a{:href => "/cart", :class => "btn btn-default btn-default"}
      =t('button.go_to_cart')


  - if @orders_processing.count > 0
    .order-info
      %h4= t('header.wating_for_processing')
      =render "order_info",  orders: @orders_processing

  - if @orders_delivery.count > 0
    .order-info
      %h4= t('header.in_delivery')
      =render "order_info",  orders: @orders_delivery

  - if @orders_delivered.count > 0
    .order-info
      %h4= t('header.delivered')
      =render "order_info",  orders: @orders_delivered
