= render "layouts/nav_bar"

.wrapper
  .header 
    =@book.title
  .col-md-3
    .book-cover
      %img{:src => "#{@book.image}", :alt => ""}
  .col-md-9
    .row
      .col-md-9
        .price= number_to_currency(@book.price)
      .col-md-3
        .order-form
          =form_for @order_item, url: {action: "create", controller: "order_items"} do |f|
            =f.hidden_field(:book_id, value: @book.id)
            =f.number_field(:quantity, class: "form-control", min: 1, value: 1)
            %button.btn.btn-default ADD TO CART

    .book-decription= @book.description
  .col-md-12
    .reviews
      %h4 Reviews
      = link_to "Add review for this book", add_rating_book_path
      -@ratings.each do |rating|
        .rating
          -rating.rating.times do 
            %span.glyphicon.glyphicon-star          
          .rating-title
            =rating.title
          .rating-date
            =rating.created_at
          .rating-author
            ="by #{rating.user.email}"
          .rating-text
            =rating.text

