= render "layouts/nav_bar"

.wrapper
  .header 
    =@book.title
  .col-md-3
    .book-cover
      %img{ src: "#{@book.image}", alt: ""}
  .col-md-9
    .row
      .col-md-9
        .price= number_to_currency(@book.price)
      .col-md-3
        .order-form
          =form_for @order_item, url: {action: "create", controller: "order_items"} do |f|
            .row
              .col-md-4
                =f.hidden_field(:book_id, value: @book.id)
                =f.number_field(:quantity, class: "form-control", min: 1, value: 1)
              .col-md-8
                %button.btn.btn-default 
                  =t('button.add_to_cart')

    .book-decription= @book.description
  .col-md-12
    .reviews
      %h4
        =t('header.reviews')
      = link_to t('text.add_review'), add_rating_book_path
      -@ratings.each do |rating|
        .rating
          - rating.rate.times do 
            %span.glyphicon.glyphicon-star          
          .rating-date
            =rating.formated_date
          .rating-author
            ="by #{rating.user.email}"
          .rating-text
            =rating.text

