= render "layouts/nav_bar"

.wrapper
  .row
    .col-md-2
      %h3= t('header.checkout')
    .col-md-10
      %ul.nav.nav-pills
        %li.active{ role: "presentation" }
          %a{ href: "" }= t('pills.address')
        %li.disabled{ role: "presentation"}
          %a{ href: "" }= t('pills.delivery')
        %li.disabled{ role: "presentation"}
          %a{ href: ""}= t('pills.payment')
        %li.disabled{ role: "presentation" }
          %a{ href: ""}= t('pills.confirm')
        %li.disabled{ role: "presentation"}
          %a{ href: ""}= t('pills.complete')

  
  .address-form  
    =form_tag url: { action: "address_confirm"} do
      .row
        .col-md-4
          %h4= t('header.billing_address')  
        .col-md-4
          %h4= t('header.shipping_address')
        .col-md-4
          %h4= t('header.order_summary')

      .row
        .col-md-4
        .col-md-4
          .checkbox
            %label
              =check_box_tag :use_billing, 1, true
              = t('text.use_billing_address')
              
        .col-md-4
          = "#{t('th.total')}: #{number_to_currency(current_order.item_total)}"  

      .row
        .col-md-4       
          = fields_for :billing_address do |f|
            = render 'layouts/address_form', f: f, address: current_order.billing_address || current_user.billing_address
        
        .col-md-4.shipping-form
          =fields_for :shipping_address do |f|
            = render 'layouts/address_form', f: f, address: current_order.shipping_address || current_user.shipping_address

        .col-md-12
          %button.btn.btn-default= t('button.save')