= render "layouts/nav_bar"

.wrapper
  %h3= "Order #{@order.id}"
  .confirm
    .row
      .col-md-3
        %table
          %b Shipping address
          %tr
            %td= @shipping_address.full_name
          %tr
            %td= @shipping_address.address
          %tr
            %td= @shipping_address.city
          %tr
            %td= @shipping_address.country
          %tr
            %td= "Phone #{@shipping_address.phone}"

      .col-md-3
        %table
          %b Billing address
          %tr
            %td= @billing_address.full_name
          %tr
            %td= @billing_address.address
          %tr
            %td= @billing_address.city
          %tr
            %td= @billing_address.country
          %tr
            %td= "Phone #{@billing_address.phone}"

      .col-md-3 
        %table 
          %b Shipment
          %tr
            %td
              - case @order.shipping
                - when 5
                  ="UPS Ground"
                - when 10
                  ="UPS Two Day"
                - when 10
                  ="Ups One Day"

      .col-md-3 
        %table 
          %b Payment Information
          %tr
            %td= @credit_card.cvv_hidden
          %tr
            %td= @credit_card.expiration_date

    =render "layouts/order_table"

    %a{:href => "/books", :class => "btn btn-default btn-default"}
      GO BACK TO STORE