= render "layouts/nav_bar"

.wrapper
  .row
    .col-md-2
      %h3 Checkout
    .col-md-10
      %ul.nav.nav-pills
        %li{:role => "presentation"}
          %a{:href => "/checkout/address"} ADDRESS
        %li{:role => "presentation"}
          %a{:href => "/checkout/delivery"} DELIVERY
        %li{:role => "presentation"}
          %a{:href => "/checkout/payment"} PAYMENT
        %li.active{:role => "presentation"}
          %a{:href => "/checkout/confirm"} CONFIRM
        %li.disabled{:role => "presentation"}
          %a{:href => "/checkout/complete"} COMPLETE
  
  %h3 CONFIRM
  .confirm
    .row
      .col-md-3
        %table
          %b Shipping address
          %a{:href => "/checkout/address"} (edit)
          %tr
            %td= "#{ @shipping_address.firstname } #{ @shipping_address.lastname }"
          %tr
            %td= @shipping_address.address
          %tr
            %td= @shipping_address.city
          %tr
            %td= @shipping_address.country
          %tr
            %td= "Phone #{@shipping_address.phone}"

      .col-md-3
        %table
          %b Billing address
          %a{:href => "/checkout/address"} (edit)
          %tr
            %td= "#{ @billing_address.firstname } #{ @billing_address.lastname }"
          %tr
            %td= @billing_address.address
          %tr
            %td= @billing_address.city
          %tr
            %td= @billing_address.country
          %tr
            %td= "Phone #{@billing_address.phone}"

      .col-md-3 
        %table 
          %b Shipment
          %a{:href => "/checkout/delivery"} (edit)
          %tr
            %td
              - case @order.shipping
                - when 5
                  ="UPS Ground"
                - when 10
                  ="UPS Two Day"
                - when 10
                  ="Ups One Day"

      .col-md-3 
        %table 
          %b Payment Information
          %a{:href => "/checkout/payment"} (edit)
          %tr
            %td= "** ** ** #{@credit_card.cvv.last(4)}"
          %tr
            %td= "#{@credit_card.expiration_month}/#{@credit_card.expiration_year}"

    = render "layouts/order_table"


    %a{:href => "/checkout/complete", :class => "btn btn-default btn-default"}
      PLACE ORDER
