= render "layouts/nav_bar"
= render "layouts/notices"

.wrapper
  .row
    .col-md-2
      %h3= t('header.checkout')
    .col-md-10
      %ul.nav.nav-pills
        %li{:role => "presentation"}
          %a{:href => "/checkout/address"}= t('pills.address')
        %li{:role => "presentation"}
          %a{:href => "/checkout/delivery"}= t('pills.delivery')
        %li.active{:role => "presentation"}
          %a{:href => "/checkout/payment"}= t('pills.payment')
        %li.disabled{:role => "presentation"}
          %a{:href => ""}= t('pills.confirm')
        %li.disabled{:role => "presentation"}
          %a{:href => ""}= t('pills.complete')

  .payment-form
    %row
      %col-md-8
        %h3= t('header.credit_card')
        =form_for @credit_card_form, url: { action: "payment_confirm" } do |f|
          =f.hidden_field :user_id, value: current_user.id
          =f.text_field :number, placeholder: t('placeholder.card_number')
          %p= "#{t('text.expiration_date')}:"
          =f.select :expiration_month, Date::MONTHNAMES[1..12]
          =f.select :expiration_year, Time.now.year.. 8.years.from_now.year
          =f.text_field :cvv, placeholder: t('placeholder.card_code') 
          %button.btn.btn-default= t('button.save_and_continue')