= render "layouts/nav_bar"

.wrapper
  .row
    .col-md-2
      %h3= t('header.checkout')
    .col-md-10
      %ul.nav.nav-pills
        %li{ role: "presentation" }
          %a{ href: checkout_address_path}= t('pills.address')
        %li{ role: "presentation"}
          %a{ href: checkout_delivery_path}= t('pills.delivery')
        %li.active{ role: "presentation"}
          %a{ href: ""}= t('pills.payment')
        %li.disabled{:role => "presentation"}
          %a{ href: ""}= t('pills.confirm')
        %li.disabled{:role => "presentation"}
          %a{ href: ""}= t('pills.complete')

  .payment-form
    %row
      %col-md-8
        %h3= t('header.credit_card')

        =form_for @credit_card_form, url: { action: "payment_confirm" } do |f|
          =render 'payment_form', f: f