= render "layouts/nav_bar"

.wrapper
  =form_tag(update_path, controller: 'order_items', action: :update, method: :post) do
    %table.table
      %th= t('th.book')
      %th= t('th.price')
      %th= t('th.qty')
      %th= t('th.total')
      %th  
      - @order_items.each do |order_item|
        =render 'order_item', order_item: order_item

    =render('layouts/sub_total') 

    .order-items-buttons
      =link_to t('button.empty_cart'), cart_empty_path, method: "delete", class: "btn btn-default btn-default"
      
      %a{href: books_path, class: "btn btn-default btn-default"}
        =t('button.continue')
      
      %span.right
        %a{href: checkout_address_path, class: "btn btn-default btn-default"}
          =t('button.checkout')

      %span.right 
        =text_field_tag :coupon_code, nil, placeholder: t('placeholder.coupon_code')
        %button.btn.btn-default= t('button.update') 