%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} The Bookstore
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to t('navbar.home'), root_path
          %span.sr-only (current)
        %li.active
          =link_to t('navbar.shop'), books_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            =t('button.lang')
            %span.caret
          %ul.dropdown-menu
            %li
              =link_to "English", locale: 'en'
            %li
              =link_to "Русский", locale: 'ru'
              
      %a{:href => "/cart"}
        %span.glyphicon.glyphicon-shopping-cart.cart
          - if current_order.item_total
            ="#{t('navbar.cart')}: #{number_to_currency(current_order.item_total)}"
          -else
            = t('navbar.cart_empty')
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to t('navbar.settings'), edit_address_path(current_user)
          %li
            %a{:href => "/orders"}
              =t('navbar.orders')
          %li= link_to t('navbar.logout'), destroy_user_session_path, method: :delete
        - else
          %li= link_to t('navbar.signup'), new_user_registration_path
          %li= link_to t('navbar.login'), new_user_session_path