%table.table.order-table
  %th
    =t('th.book')
  %th
    =t('th.price')
  %th
    =t('th.qty')
  %th
    =t('th.total')

  - @order.order_items.each do |order_item|
    %tr
      %td 
        %table
          %tr
            %td
              %img{:src => "#{order_item.book.image}", :alt => ""}
            %td
              %h4= order_item.book.title
              %p= order_item.book.short_description
      %td
        %h4="#{number_to_currency(order_item.book.price)}"
      %td
        %h4=order_item.quantity
      %td
        %h4="#{number_to_currency(order_item.price)}"

.sub-total
  %p="#{t('th.item_total')}: #{number_to_currency(@order.item_total)}" 
  %p="#{t('th.shipping')}: #{number_to_currency(@order.shipping)}"
.order-total
  %p="#{t('th.total')}: #{number_to_currency(@order.order_total)}"