%table.table.order-table
  %th
    BOOK
  %th
    PRICE
  %th
    QTY
  %th
    TOTAL

  - @order.order_items.each do |order_item|
    %tr
      %td 
        %table
          %tr
            %td
              %img{:src => "#{order_item.book.image}", :alt => ""}
            %td
              %h4= order_item.book.title
              %p= order_item.book.short_description
      %td
        %h4="#{number_to_currency(order_item.book.price)}"
      %td
        %h4=order_item.quantity
      %td
        %h4="#{number_to_currency(order_item.price)}"

.sub-total
  %p="SUBTOTAL: #{number_to_currency(@order.item_total)}" 
  %p="SHIPPING: #{number_to_currency(@order.shipping)}"
.order-total
  %p="ORDER TOTAL: #{number_to_currency(@order.order_total)}"